.agentprofile-left .agentprofile-left-wrapper {
  padding-right: 30px;
  padding-left: 30px;
}
.dashboard-sidebar {
  background-color: #f8f8f8;
  border-radius: 4px;
}
.agentprofile-left-menu .agentprofile-avatar {
  padding: 1.25em 1.25em 0.625em 1.25em;
}
.content-thumb {
  display: block;
  position: relative;
}
.agentprofile-left-menu .agentprofile-avatar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.agentprofile-left-menu .agentprofile-link {
  padding: 0.625em 1.5em;
}
.agentprofile-left-menu .agentprofile-link a.active {
  color: #4f8a64;
}
.agentprofile-left-menu .agentprofile-link a i {
  margin-right: 1em;
}
.agentprofile-left-menu .agentprofile-link a {
  display: block;
  color: #2d313f;
  line-height: 2em;
  text-decoration: none;
}
.agentprofile-left-menu .agentprofile-link + .agentprofile-link,
.agentprofile-left-menu .agentprofile-submit {
  border-top: solid 0.0625em #ebebeb;
  -webkit-box-shadow: inset 0 0.125em 0.125em -0.125em #ffffff;
  box-shadow: inset 0 0.125em 0.125em -0.125em #ffffff;
}
.agentprofile-left-menu .agentprofile-submit {
  padding: 1.25em 1.5em;
}
.agentprofile-left-menu .agentprofile-submit a {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  background-color: #f0e797;
  color: #c1b547;
  border: 0 none;
  background-image: none;
  -webkit-transition: border-color color 0.2s ease;
  -o-transition: border-color color 0.2s ease;
  transition: border-color color 0.2s ease;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
@media screen and (min-width: 768px) and (max-width: 800px) {
  .agentprofile-left-menu .agentprofile-submit a {
    font-size: 9px;
  }
}
@media screen and (max-width: 360px) {
  .agentprofile-left-menu .agentprofile-submit a {
    font-size: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.agentprofile-left-menu .agentprofile-submit a:hover {
  background-color: #0088cc;
  color: #fff;
}
.agentprofile-right {
  float: right;
}
@media screen and (max-width: 991px) {
  .agentprofile-right {
    float: left;
  }
}
@media screen and (max-width: 420px) {
  .agentprofile-right {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 420px) {
  .agentprofile-right .agentprofile-content {
    font-size: 11px;
  }
}
@media screen and (max-width: 420px) {
  .agentprofile-right .agentprofile-content tbody td {
    padding: 0;
  }
}
.agentprofile-title {
  margin-bottom: 30px;
  padding: 0;
}
.agentprofile-group {
  border: 1px solid #eee;
  margin-top: 10px;
}
.agentprofile-group .group-title {
  background-color: #eee;
  padding: 10px 20px;
  font-size: 1.5em;
  width: 100%;
}
.agentprofile-group .group-container {
  margin: 20px 5px 15px 5px;
}
.control-group .inputbox {
  font-size: 16px;
  background: none repeat scroll 0 0 #ffffff;
  border-radius: 3px;
  padding: 8px;
  width: 100%;
  height: 35px;
  border: 1px solid #dedede;
}
.control-group .textarea {
  font-size: 16px;
  background: none repeat scroll 0 0 #ffffff;
  border-radius: 3px;
  padding: 8px;
  width: 100%;
  height: auto;
  border: 1px solid #dedede;
}
#uploaded-images {
  float: left;
  width: 100%;
}
#uploaded-images .uploaded-img {
  float: left;
  margin: 0 10px 15px 0px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
#aaiu-uploader {
  margin-top: 30px;
}
a#aaiu-uploader {
  background-color: #f0e797;
  color: #c1b547;
  border-color: #f0e797;
  padding: 10px 16px;
  border: 0 none;
  font-size: 13px;
  background-image: none;
  -webkit-transition: border-color color 0.2s ease;
  -o-transition: border-color color 0.2s ease;
  transition: border-color color 0.2s ease;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
a#aaiu-uploader:hover {
  background-color: #75b08a;
  color: #fff;
}
.agent-submit button {
  background-color: #75b08a;
  color: #fff;
  border-color: #f0e797;
  margin-top: 30px;
  font-size: 23px;
  padding: 16px 16px;
  border: 0 none;
  background-image: none;
  -webkit-transition: border-color color 0.2s ease;
  -o-transition: border-color color 0.2s ease;
  transition: border-color color 0.2s ease;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
input#jform_avatar {
  height: auto !important;
}
.dashboard-sidebar-title {
  font-size: 1.5em;
  font-weight: 300;
  margin: 50px 30px 40px;
}
.dashboard-sidebar .sidebar-content {
  padding: 1.25em;
}
.submit-paypal a.btn.btn-secondary {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  background-color: #f0e797;
  color: #c1b547;
  border: 0 none;
  background-image: none;
  -webkit-transition: border-color color 0.2s ease;
  -o-transition: border-color color 0.2s ease;
  transition: border-color color 0.2s ease;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.submit-paypal a.btn.btn-secondary:hover {
  background-color: #75b08a;
  color: #fff;
}
.package-info a {
  color: #75b08a;
  text-decoration: none;
  top: 9px;
}
