.myproperty-left .myproperty-left-wrapper {
  padding-right: 30px;
  padding-left: 30px;
}
.dashboard-sidebar {
  background-color: #f8f8f8;
  border-radius: 4px;
}
.myproperty-left-menu .myproperty-avatar {
  padding: 1.25em 1.25em 0.625em 1.25em;
}
.content-thumb {
  display: block;
  position: relative;
}
.myproperty-left-menu .myproperty-avatar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.myproperty-left-menu .myproperty-link {
  padding: 0.625em 1.5em;
}
.myproperty-left-menu .myproperty-link a.active {
  color: #4f8a64;
}
.myproperty-left-menu .myproperty-link a i {
  margin-right: 1em;
}
.myproperty-left-menu .myproperty-link a {
  display: block;
  color: #2d313f;
  line-height: 2em;
  text-decoration: none;
}
.myproperty-left-menu .myproperty-link + .myproperty-link,
.myproperty-left-menu .myproperty-submit {
  border-top: solid 0.0625em #ebebeb;
  -webkit-box-shadow: inset 0 0.125em 0.125em -0.125em #ffffff;
  box-shadow: inset 0 0.125em 0.125em -0.125em #ffffff;
}
.myproperty-left-menu .myproperty-submit {
  padding: 1.25em 1.5em;
}
.myproperty-left-menu .myproperty-submit a {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  background-color: #f0e797;
  color: #c1b547;
  border: 0 none;
  background-image: none;
  -webkit-transition: border-color color 0.2s ease;
  -o-transition: border-color color 0.2s ease;
  transition: border-color color 0.2s ease;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
@media screen and (max-width: 360px) {
  .myproperty-left-menu .myproperty-submit a {
    font-size: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.myproperty-left-menu .myproperty-submit a:hover {
  background-color: #0088cc;
  color: #fff;
}
.myproperty-right {
  float: right;
}
.myproperty-title {
  margin-bottom: 30px;
  padding: 0;
}
.myproperty-group {
  border: 1px solid #eee;
  margin-top: 0px;
}
.myproperty-group .group-title {
  background-color: #eee;
  padding: 10px 20px;
  font-size: 1.5em;
  width: 100%;
}
.myproperty-group .group-container {
  margin: 20px 5px 15px 5px;
}
.properties {
  position: relative;
}
.properties-header {
  display: table;
  width: 100%;
  margin-bottom: 30px;
}
.properties-header .page-title {
  width: 50%;
  vertical-align: middle;
  display: table-cell;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.page-title {
  margin-bottom: 30px;
  padding: 0;
}
.properties.list .hentry {
  display: table;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 0 0 30px 0;
}
.properties .hentry {
  float: left;
  width: 48%;
  padding: 0 0 0 0;
  margin: 0 4% 30px 0;
  border-bottom: none;
}
.hentry {
  border-bottom: 1px solid #f8f8f8;
  padding-bottom: 50px;
  margin-top: 50px;
}
.my-properties.list .property-featured {
  width: 40%;
  margin: 0;
  display: table-cell;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.properties.list .property-featured {
  width: 40%;
  margin: 0;
  display: table-cell;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.properties .hentry .property-featured {
  margin: 0;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.my-properties.list .property-featured {
  width: 40%;
  margin: 0;
  display: table-cell;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
@media screen and (max-width: 479px) {
  .my-properties.list .property-featured {
    width: 100%;
    display: table-caption;
  }
}
.properties .hentry .property-featured .featured {
  background: none repeat scroll 0 0 #fff;
  color: #f47606;
  font-size: 24px;
  width: 100px;
  height: 100px;
  left: -50px;
  line-height: 100px;
  position: absolute;
  text-align: center;
  top: -50px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 1100;
}
.properties .hentry .property-featured .featured i {
  position: absolute;
  left: 68px;
  top: 35px;
}
.properties .hentry .property-featured .content-thumb img {
  width: 100%;
}
.properties.list .property-featured img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.properties .hentry .property-featured img {
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  width: 100%;
  height: auto;
}
.properties .hentry .property-featured .property-label.sold {
  background: #6c6a64;
}
.properties .hentry .property-featured .property-label {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 8px 15px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  background: #8224e3;
  font-weight: bold;
}
.properties .hentry .property-featured .property-category {
  position: absolute;
  left: 15px;
  bottom: 15px;
  background: rgba(255, 255, 255, 0.85);
  padding: 0 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
}
.properties .hentry .property-featured .property-category a {
  color: #2d313f;
}
.properties .hentry .property-featured .property-category a:hover {
  color: #4f8a64;
}
.properties.list .property-wrap {
  width: 60%;
  display: table-cell;
  vertical-align: top;
  position: inherit;
  background: #f9f9f9;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  position: relative;
}
.properties.list .property-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  background: #f9f9f9;
}
.properties .hentry .property-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 15px 15px;
  background: #f9f9f9;
}
@media screen and (min-width: 480px) and (max-width: 600px) {
  .properties .hentry .property-title {
    padding: 0px 15px;
  }
}
@media screen and (max-width: 767px) {
  .properties.my-properties.list .property-labels {
    display: block;
    padding: 15px 30px 0;
  }
}
.hentry a:hover {
  text-decoration: none;
}
.properties .hentry .property-excerpt {
  display: none;
}
.properties.list .property-excerpt {
  display: block;
  padding: 0px 20px;
}
@media screen and (max-width: 320px) {
  .properties.list .property-excerpt {
    padding: 20px 20px;
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  .properties.list .property-excerpt {
    display: none;
  }
}
.properties.list .property-summary {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
@media screen and (max-width: 479px) {
  .properties.list .property-summary {
    position: initial;
  }
}
.properties.list .property-detail {
  background: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: table;
  width: 100%;
}
.properties .hentry .property-detail > div {
  width: 33.33%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 14px 8px;
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  .properties.list .hentry .property-detail > div {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  .properties.list .hentry .property-detail > div span {
    line-height: 1;
  }
}
.properties .hentry .property-detail > div.size span {
  background: url("../images/icon/size-icon.png") no-repeat scroll 0 center transparent;
}
.properties .hentry .property-detail > div.bathrooms {
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}
.properties .hentry .property-detail > div.bathrooms span {
  background: url("../images/icon/bathroom-icon.png") no-repeat scroll 0 center transparent;
}
.properties .hentry .property-detail > div span {
  display: inline-block;
  padding-left: 32px;
}
.properties .hentry .property-detail > div.bedrooms span {
  background: url("../images/icon/bedroom-icon.png") no-repeat scroll 0 center transparent;
}
.properties.list .property-info {
  border-radius: 0;
}
.properties .hentry .property-info {
  overflow: hidden;
  border-top: 1px solid #fff;
  background: #ececec;
  display: table;
  width: 100%;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.my-properties.list .property-info {
  border-top: 1px solid #fff;
  background: #ececec;
  display: table;
  width: 100%;
  border-radius: 0;
}
.my-properties .hentry .property-info > div.property-price {
  padding: 0px 15px ;
}
@media screen and (max-width: 479px) {
  .my-properties .hentry .property-info > div.property-price {
    margin-top: 10px;
  }
}
.properties .hentry .property-info .property-price {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}
.properties .hentry .property-info > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}
.my-properties.list .property-info .property-price {
  font-size: 16px;
  font-weight: bold;
  text-align: left!important;
}
@media screen and (min-width: 480px) and (max-width: 484px) {
  .my-properties.list .property-info .property-price {
    font-size: 11px;
  }
}
.properties.my-properties .hentry .property-info .property-action .agent-action.four-buttons a {
  width: 25%;
}
@media screen and (max-width: 479px) {
  .properties.my-properties .hentry .property-info .property-action .agent-action.four-buttons a {
    width: 50%;
  }
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  .properties.my-properties .hentry .property-info .property-action .agent-action.four-buttons a i {
    position: relative;
    left: -5px;
  }
}
.properties.my-properties .hentry .property-info .property-action .agent-action a {
  display: inline-block;
  width: 33.33%;
  float: left;
  border-radius: 0;
}
.properties.list .property-info .property-action a {
  color: #bdb254;
  background-color: #f0e797;
  border-color: #f0e797;
  padding: 10px 15px;
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  -webkit-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
.properties .hentry .property-featured .property-category a:hover {
  color: #ffffff;
  background-color: #0088cc;
  border-color: #bdb254;
}
.properties .hentry .property-info .property-action a:hover {
  background-color: #0088cc;
}
.properties .hentry .property-info .property-action a.status-property {
  background-color: #0088cc;
}
.properties .hentry:hover .property-featured .property-category {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
}
.dashboard-sidebar-title {
  font-size: 1.5em;
  font-weight: 300;
  margin: 50px 30px 40px;
}
.dashboard-sidebar .sidebar-content {
  padding: 1.25em;
  margin-bottom: 40px;
}
.navbar .nav > li > a {
    float: none;
    padding: 11px 15px;
    text-decoration: none;
    text-shadow: 0 0px 0 #FFFFFF ;
}
.navbar .nav > li {
    display: inline-block;
}
.navbar-inner{
    background: #FFFFFF !important;
}