.popup {
  display: none;
}
.popup .popup-text.active {
  position: absolute;
  width: 30%;
  top: 20%;
  left: 35%;
  text-align: center;
  background: white;
  font-size: 16px;
}
.popup .popup-text.active .pclose {
  text-align: right;
  background: aliceblue;
  cursor: pointer;
}
.popup .popup-text.active .pclose span {
  color: red;
  display: inline-block;
  margin-right: 5px;
}
.popup .popup-text .ptext {
  line-height: 22px;
}
