
@import url('https://fonts.googleapis.com/css?family=PT Sans:700,400italic,400|Source Sans Pro:700,400|Allerta:700');

div#mod_smartslider_93 div,
div#mod_smartslider_93 dl,
div#mod_smartslider_93 dd,
div#mod_smartslider_93 ul.tags,
div#mod_smartslider_93 ul.tags li,
div#mod_smartslider_93 ul.slides,
div#mod_smartslider_93 ul li.sslide,
div#mod_smartslider_93 ul li.slide,
div#mod_smartslider_93 ul.vertical,
div#mod_smartslider_93 li.subslide,
div#mod_smartslider_93 h1,
div#mod_smartslider_93 h2,
div#mod_smartslider_93 h3,
div#mod_smartslider_93 h4,
div#mod_smartslider_93 h5,
div#mod_smartslider_93 h6,
div#mod_smartslider_93 p,
div#mod_smartslider_93 .title{
  padding: 0;
  margin: 0;
  border: 0;
  list-style-type: none;
  text-align: left;
  background-color: transparent;
  position: static;
  text-transform: none;
  border-radius: 0;
  -moz-user-select: none;
}

div#mod_smartslider_93 span{
  box-shadow: none;
}

div#mod_smartslider_93{
    transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0); /* IE 9 */
    -webkit-transform: translate3d(0,0,0); /* Safari and Chrome */
    -o-transform: translate3d(0,0,0); /* Opera */
    -moz-transform: translate3d(0,0,0); /* Firefox */
}

.safari5 #mod_smartslider_93,
.safari5 #mod_smartslider_93 *:not(.rotated-90){
    -webkit-transform: none !important;
}

div#mod_smartslider_93 .title{
  background:none;
  text-shadow: none;
}


div#mod_smartslider_93 div div .sslide a{
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#mod_smartslider_93 dt.sslide, 
#mod_smartslider_93 dd.sslide, 
#mod_smartslider_93 li.subslide{
  clear: none;
  border: 0;
}
#mod_smartslider_93 a:hover{
  text-decoration: none;
}


#mod_smartslider_93{
  position: relative;
  width: 700px;
  margin: 0 auto;
}

#mod_smartslider_93 .controllLeft, #mod_smartslider_93 .controllRight{
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 364px;
  z-index: 1;
  background: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/types/photoExperimental/minimal/images/arrowleft.png') no-repeat center center;
  cursor: pointer;
  }

#mod_smartslider_93 .controllLeft:HOVER{
  background-image: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/types/photoExperimental/minimal/images/arrowleft-hover.png');
}

#mod_smartslider_93 .controllRight{
  left: auto;
  right: 0;
  background: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/types/photoExperimental/minimal/images/arrowright.png') no-repeat center center;
}

#mod_smartslider_93 .controllRight:HOVER{
  background-image: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/types/photoExperimental/minimal/images/arrowright-hover.png');
}


#mod_smartslider_93 .slinner{
  width: 560px;
  height: 364px;
  position: relative;
  margin: 0 auto;
}

#mod_smartslider_93 .controll{
  height: 17px;
  width: 100%;
  margin: 0 auto;
    display: none;
  }

#mod_smartslider_93 .controll div{
  height: 17px;
  width: 56px;
  background: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/types/photoExperimental/minimal/images/dot.png') no-repeat -2px 0;
  float: left;
  cursor: pointer;
}

#mod_smartslider_93 .controll div.first{
  width: 58px;
  background-position: 0 0;
}

#mod_smartslider_93 .controll div.selected{
  background-image: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/types/photoExperimental/minimal/images/dotselected.png');
}

#mod_smartslider_93 .controll div.last{
  background: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/types/photoExperimental/minimal/images/dotend.png') no-repeat -2px 0;
  width: 43px;
}

#mod_smartslider_93 .slinner .sslide{
  position: absolute;
  top: 50%;
  margin-top: -145.5px;
  left: 50%;
  margin-left: -280px;
  width: 566px;
  height: 297px !important;
  z-index: 1;
  padding: 3px;
  -webkit-backface-visibility: hidden;
  /*-webkit-transform-style: preserve-3d;*/
}

#mod_smartslider_93 .slinner .sslide.selected{
  z-index: 2;
}


#mod_smartslider_93 .slinner .slideouter{
  border: #c1c1c1 solid 1px;
  border-width: 1px 1px 1px 1px;
  background-color: #ffffff;
  padding: 10px 10px 10px 10px;
  width: 538px;
  height: 269px;
  z-index: 1;
  
  
        -moz-box-shadow: 0px 0px 3px RGBA(0,0,0,0.5);
        -webkit-box-shadow: 0px 0px 3px RGBA(0,0,0,0.5);
        box-shadow: 0px 0px 3px RGBA(0,0,0,0.5);
        
}


#mod_smartslider_93 .slinner .sslide .slideinner{
  border: #c1c1c1 solid 1px;
  border-width: 1px 1px 1px 1px;
  background-color: #ffffff;
  width: 536px;
  height: 267px;
}

#mod_smartslider_93 .slinner .sslide .slideinner2{
  width: 536px;
  height: 267px;
  position: relative;
  overflow: hidden;
}


#mod_smartslider_93 .sslide .canvas{
  height: 267px;
  width: 536px;
  overflow: hidden;
}




#mod_smartslider_93 .sslide .caption{
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  display: none;
}

#mod_smartslider_93 .caption a,
#mod_smartslider_93 .caption span,
#mod_smartslider_93 .caption p,
#mod_smartslider_93 .caption h3,
#mod_smartslider_93 .caption h4{
  line-height: 15.6px;
}


#mod_smartslider_93 .caption a,
#mod_smartslider_93 .caption a:visited,
#mod_smartslider_93 .caption a:active,
#mod_smartslider_93 .caption a:hover{
  color: #fff;
  text-decoration: underline;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
  }

#mod_smartslider_93 .sslide .caption .animated .content{
  z-index: 11;
  position: relative;
}

#mod_smartslider_93 .sslide .caption .fromright{
 position: absolute;
 width: 0px;
 padding-left: 29px;
 height: 100%;
 right: 0px;
 top: 0;
 height: 0;
 visibility: visible;
}

#mod_smartslider_93 .sslide .caption .fromright .opener{
 background: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/types/photoExperimental/minimal/../../../captions/images/captionrightplus.png') no-repeat 0 0px;
 position: absolute;
 top:195px;
 left: 0;
 width: 29px;
 height: 42px;
 margin-bottom: 30px;
 cursor: pointer;
}

#mod_smartslider_93 .sslide .caption .opened.fromright .opener{
 background-image: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/types/photoExperimental/minimal/../../../captions/images/captionrightminus.png');
}

#mod_smartslider_93 .sslide .caption .fromright .content{
  height: 237px;
  background: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/types/photoExperimental/minimal/../../../captions/images/black50.png') repeat;
  padding: 15px 10px;
}

#mod_smartslider_93 .sslide .caption .fromright h3{
  font-family: 'Allerta',Arial, Helvetica;
font-size: 24px;
color: #FFFFFF;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: left;
text-shadow: 1px 1px 0px #000000;
line-height: normal;
  margin: 0 0 5px;
}

#mod_smartslider_93 .sslide .caption .fromright p,
#mod_smartslider_93 .sslide .caption .frombottom p{
  text-align: left;
  font-family: 'PT Sans',Arial, Helvetica;
font-size: 13px;
color: #FFFFFF;
font-weight: normal;
font-style: normal;
text-decoration: none;
text-align: left;
text-shadow: 1px 1px 0px #000000;
line-height: normal;
}

#mod_smartslider_93 .sslide .caption .fromright a,
#mod_smartslider_93 .sslide .caption .frombottom a, 
#mod_smartslider_93 .sslide .caption .simple a {
  text-align: left;
  font-family: 'PT Sans',Arial, Helvetica;
font-size: 13px;
color: #FFFFFF;
font-weight: normal;
font-style: normal;
text-decoration: none;
text-align: left;
text-shadow: 1px 1px 0px #000000;
line-height: normal;
}


#mod_smartslider_93 .sslide .caption .frombottom{
 position: absolute;
 height: 0;
 padding-top: 29px;
 width: 100%;
 bottom: 0px;
 right: 0;
 width: 0;
 visibility: visible;
}

#mod_smartslider_93 .sslide .caption .frombottom .opener{
 background: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/types/photoExperimental/minimal/../../../captions/images/captionbottomplus.png') no-repeat 0 0px;
 position: relative;
 right: 0;
 height: 29px;
 width: 62px;
 cursor: pointer;
 margin-top: -29px;
 margin-left: -62px;
}

#mod_smartslider_93 .sslide .caption .opened.frombottom .opener{
 background-image: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/types/photoExperimental/minimal/../../../captions/images/captionbottomminus.png');
}

#mod_smartslider_93 .sslide .caption .frombottom .content{
  position: relative;
  width: 100%;
  width: 516px;
  left: -536px;
  height: 0px;
  background: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/types/photoExperimental/minimal/../../../captions/images/black50.png') repeat;
  padding: 8px 10px;
}

#mod_smartslider_93 .sslide .caption .frombottom h3{
  font-family: 'Allerta',Arial, Helvetica;
font-size: 24px;
color: #FFFFFF;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: left;
text-shadow: 1px 1px 0px #000000;
line-height: normal;
  margin: 0 0 5px;
}

#mod_smartslider_93 .sslide .caption .simple{
  position: relative;
  display: none;
  width: 0px;
  height: 0px;
  top: 0;
  left: 0;
}

#mod_smartslider_93 .sslide .caption .simple h4{
  position: absolute;
  margin: 0;
  display: inline;
  /* Alpha channel*/
    background-color: #bf005f;
    /* Alpha channel*/
  padding: 1px 10px;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  font-size: 10px;
  text-transform:uppercase;
    text-shadow: #4a4a4a 1px 1px 1px;
  }

.dj_ie7 #mod_smartslider_93 .sslide .caption .simple h4{
  background-color: #bf005f;
}

#mod_smartslider_93 .sslide .caption .simple h3{
  margin: 0;
  display: block;
  padding: 11px 10px;
  white-space:nowrap;
  font-family: 'Allerta',Arial, Helvetica;
font-size: 24px;
color: #FFFFFF;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: left;
text-shadow: 1px 1px 0px #000000;
line-height: normal;
}

#mod_smartslider_93 .sslide .caption .simple .h3{
  position: absolute;
  background-color: #000000;
  background: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/types/photoExperimental/minimal/../../../captions/images/black70.png') repeat;
}

#mod_smartslider_93 .sslide .caption .simple p{
  margin: 0;
  padding: 0px 10px 11px;
  font-family: 'PT Sans',Arial, Helvetica;
font-size: 13px;
color: #FFFFFF;
font-weight: normal;
font-style: normal;
text-decoration: none;
text-align: left;
text-shadow: 1px 1px 0px #000000;
line-height: normal;
}


#mod_smartslider_93 .sslide .caption .smartcaption{
  position: relative;
  display: none;
  width: 0px;
  height: 0px;
  top: 0;
  left: 0;
}

#mod_smartslider_93 .sslide .caption .smartcaption div.caption-h4,
#mod_smartslider_93 .sslide .caption .smartcaption h4{
  white-space:nowrap;
  position: absolute;
  margin: 0;
  display: inline;
  /* Alpha channel*/
    background-color: #bf005f;
    /* Alpha channel*/
  padding: 1px 10px;
  text-transform:uppercase;
  font-family: 'Allerta',Arial, Helvetica;
font-size: 12px;
color: #FFFFFF;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: left;
text-shadow: 1px 1px 0px #000000;
line-height: normal;
  
  line-height: 15.6px;
}

.dj_ie7 #mod_smartslider_93 .sslide .caption .smartcaption div.caption-h4,
.dj_ie7 #mod_smartslider_93 .sslide .caption .smartcaption h4{
  background-color: #bf005f;
}

#mod_smartslider_93 .sslide .caption .smartcaption div.caption-h3,
#mod_smartslider_93 .sslide .caption .smartcaption h3{
  white-space:nowrap;
  position: absolute;
  margin: 0;
  display: block;
  padding: 11px 10px;
  background: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/types/photoExperimental/minimal/../../../captions/images/black70.png') repeat;
  font-family: 'Allerta',Arial, Helvetica;
font-size: 24px;
color: #FFFFFF;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: left;
text-shadow: 1px 1px 0px #000000;
line-height: normal;
}
#mod_smartslider_93 .sslide .caption{
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#mod_smartslider_93 .sslide .caption .defaultcaption{
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#mod_smartslider_93 .sslide .caption .defaultcaption-title,
#mod_smartslider_93 .sslide .caption .defaultcaption-description{
    background: #000;
    background: RGBA(0,0,0,0.7);
    float:left;
    clear: left;
    box-shadow: inset 0 5px 5px RGBA(0,0,0,0.5), 1px 1px 0 0 RGBA(255,255,255,0.1);
}

#mod_smartslider_93 .sslide .caption .defaultcaption-title{
    margin: 4% 2% 0 5%;
    font-family: 'Source Sans Pro';
font-size: 30px;
color: #ffffff;
font-weight: bold;
text-shadow: 1px 1px 1px #666666;
line-height: 30px;
    padding: 8px;
    z-index: 7;
    }

#mod_smartslider_93 .sslide .caption .defaultcaption-description{
    margin: 2px 2% 0 5%;
    font-family: 'Source Sans Pro';
font-size: 16px;
color: #ffffff;
font-weight: normal;
text-shadow: 1px 1px 1px #666666;
line-height: 24px;
    padding: 8px;
    max-width: 90%;
    z-index: 6;
    
    }

.nextend-csstransitions #mod_smartslider_93  .sslide.animating .caption .defaultcaption-title,
.nextend-csstransitions #mod_smartslider_93  .sslide.animating .caption .defaultcaption-description,
.nextend-csstransitions #mod_smartslider_93  .sslide.selected .caption .defaultcaption-title,
.nextend-csstransitions #mod_smartslider_93  .sslide.selected .caption .defaultcaption-description{
    visibility: visible;
}

#mod_smartslider_93 .canvas{
  /* Alpha channel*/
//    background-color: #;
    /* Alpha channel*/
}

#mod_smartslider_93 .canvas a,
#mod_smartslider_93 .canvas a:visited,
#mod_smartslider_93 .canvas a:active,
#mod_smartslider_93 .canvas a:hover{
  text-decoration: none;
  font-family: 'PT Sans',Arial, Helvetica;
font-size: 14px;
color: #188dd9;
font-weight: normal;
font-style: normal;
text-decoration: none;
text-align: left;
line-height: 18px;
}

#mod_smartslider_93 .column{
  margin: 15px 25px 15px;
  position: relative;
  height: 237px;
  float: none;
}

#mod_smartslider_93 .column h3, 
#mod_smartslider_93 .column h3 a{
  margin: 0;
  font-family: 'PT Sans',Arial, Helvetica;
font-size: 30px;
color: #188DD9;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: left;
line-height: normal;
}

#mod_smartslider_93 .column h4{
  margin: 5px 0 0 0;
  font-family: 'PT Sans',Arial, Helvetica;
font-size: 15px;
color: #3E3E3E;
font-weight: normal;
font-style: italic;
text-decoration: none;
text-align: left;
line-height: normal;
}

#mod_smartslider_93 .column .tags{
  position: absolute;
  top: 0;
  right: 0;
  list-style-type: none;
  height: 23px;
}

#mod_smartslider_93 .column .tags li{
  float: left;
  margin-left: 10px;
  display: block;
  height: 23px;
}

#mod_smartslider_93 .column .tags li,
#mod_smartslider_93 .column .tags a,
#mod_smartslider_93 .column .tags span{
  height: 23px;
  display: block;
  font-family: 'PT Sans',Arial, Helvetica;
font-size: 12px;
color: #e4eaee;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: left;
text-shadow: 1px 1px 1px #000000;
line-height: 23px;
  line-height: 23px;
}

.dj_ie7 #mod_smartslider_93 .column .tags span span,
.dj_ie8 #mod_smartslider_93 .column .tags span span{
  zoom:1;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

#mod_smartslider_93 .column .tags a span{
  cursor: pointer;
}



#mod_smartslider_93 .column .tags li{
  background: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/cache/93/20130724/b37bae3d38e02e7ecdd6769bef62d5c8.png') no-repeat 0 -52px;
  padding-left: 14px;
}

#mod_smartslider_93 .column .tags li span{
  background: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/cache/93/20130724/b37bae3d38e02e7ecdd6769bef62d5c8.png') no-repeat right -26px;
  padding-right: 4px;
}

#mod_smartslider_93 .column .tags li span > span{
  background: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/cache/93/20130724/b37bae3d38e02e7ecdd6769bef62d5c8.png') repeat-x 0 -1px;
  padding: 0 5px;
}


#mod_smartslider_93 .column .hr{
  background: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/types/photoExperimental/minimal/../../../contents/images/dottedpattern.png') repeat-x;
  height: 7px;
  margin: 4px 0 6px;
  clear: both;
}


#mod_smartslider_93 .column p{
  margin: 0;
  font-family: 'PT Sans',Arial, Helvetica;
font-size: 14px;
color: #3e3e3e;
font-weight: normal;
font-style: normal;
text-decoration: none;
text-align: left;
line-height: 18px;
}

#mod_smartslider_93 .twocolumn p.col50.col1{
  float: left;
}

#mod_smartslider_93 .twocolumn p.col50{
  width: 49%;
  float: right;
}

#mod_smartslider_93 .threecolumn .columns{
  position: relative;
}

#mod_smartslider_93 .threecolumn p.col33{
  width: 31%;
  position:absolute;
  right: 0;
  top: 0;
}

#mod_smartslider_93 .threecolumn p.col33.col1{
  left: 0;
}

#mod_smartslider_93 .threecolumn p.col33.col2{
  left: 50%;
  margin-left: -15.5%;
}

#mod_smartslider_93 .threecolumn p.col33.normalflow{
  position: static;
  float:left;
  visibility: hidden;
}

#mod_smartslider_93 .column .readmorecont{
  margin-top: 5px;
}


#mod_smartslider_93 .column a.ss-readmore,
#mod_smartslider_93 .column a.ss-readmore:LINK,
#mod_smartslider_93 .column a.ss-readmore:HOVER,
#mod_smartslider_93 .column a.ss-readmore:ACTIVE,
#mod_smartslider_93 .column a.ss-readmore:VISITED,
#mod_smartslider_93 .column a.readmore,
#mod_smartslider_93 .column a.readmore:LINK,
#mod_smartslider_93 .column a.readmore:HOVER,
#mod_smartslider_93 .column a.readmore:ACTIVE,
#mod_smartslider_93 .column a.readmore:VISITED{
  background: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/cache/93/20130724/ae684dcf759b2d418deeb52368ee2009.png') no-repeat left center;
  background-size: contain;
  padding: 0 0 1px 20px;
  float: left;
  margin-top:6px;
  border: 0;
  font-family: Verdana, Arial, Helvetica;
font-size: 11px;
color: #188DD9;
font-weight: normal;
font-style: normal;
text-decoration: none;
text-align: left;
line-height: normal;
}

#mod_smartslider_93 .rightimage .col1{
  float: left;
}

#mod_smartslider_93 .rightimage .col2{
  text-align: center;
  float: right;
  height: 100%;
}

#mod_smartslider_93 .rightimage .col2 a{
  display: block;
  height:100%;
  width:100%;
}

#mod_smartslider_93 .leftimage .col1{
  text-align: center;
  float: left;
  height: 100%;
}

#mod_smartslider_93 .leftimage .col1 a{
  display: block;
  height:100%;
  width:100%;
}

#mod_smartslider_93 .leftimage .col2{
  float: right;
  height: 100%;
}


#mod_smartslider_93 .column .readmorebig, #mod_smartslider_93 .column .readmorebig span{
  display: block;
  font-family: 'PT Sans',Arial, Helvetica;
font-size: 12px;
color: #E4EAEE;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: left;
text-shadow: 1px 1px 1px #000000;
line-height: normal;
  line-height: 31px;
}

#mod_smartslider_93 .column .readmorebig{
 position:absolute;
 bottom: 10px;
 right: 0;
 background: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/cache/93/20130724/4c40cd5b5d1e791ebe89a0cb7c64fd86.png') no-repeat 0 -62px;
 background-image: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/cache/93/20130724/4c40cd5b5d1e791ebe89a0cb7c64fd86.png');
 padding-left: 8px;
}

#mod_smartslider_93 .column .readmorebig span{
 background: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/cache/93/20130724/4c40cd5b5d1e791ebe89a0cb7c64fd86.png') no-repeat right -31px;
 padding-right: 28px;
}

#mod_smartslider_93 .column .readmorebig span > span{
 background: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/cache/93/20130724/4c40cd5b5d1e791ebe89a0cb7c64fd86.png') repeat-x;
 text-align: center;
 padding: 0 5px;
 text-transform: uppercase;
}



#mod_smartslider_93 .rightimage .col1{
  height: 100%;
  position: relative;
}

#mod_smartslider_93 .rightimage .readmorebig{
  left: 0;
  right: auto;
}

#mod_smartslider_93 .onlybackground{
  background-repeat: no-repeat;
  background-size: cover;
}

#mod_smartslider_93 .onlybackground a{
  display: block;
  width: 100%;
  height: 100%;
}
/*
*Quotes
*/

#mod_smartslider_93 .quotes.centerquote {
  font-family: "PT Sans",Arial,Helvetica;
  font-size: 17px;
}


#mod_smartslider_93 .quotes.centerquote .quotemark_b {
  width: 102px;
  height: 82px;
  background: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/cache/93/20130724/6aa7346194ff69de3b151918a85cab89.png') no-repeat;
  float: left;
  margin-right: 5px;
}

#mod_smartslider_93 .quotes.centerquote .quote_text {
  font-style: italic;
}

#mod_smartslider_93 .quotes.centerquote .quote_signature {
  margin-top: 10px;
  font-weight: bold;
  font-style: italic;
  float: right;
}

#mod_smartslider_93 .quotes.leftimage,
#mod_smartslider_93 .quotes.leftimage_s,
#mod_smartslider_93 .quotes.rightimage,
#mod_smartslider_93 .quotes.rightimage_s {
  font-family: "PT Sans",Arial,Helvetica;
  font-size: 17px;
  font-style: italic;
}

#mod_smartslider_93 .quotes.leftimage .col1,
#mod_smartslider_93 .quotes.leftimage_s .col1 {
  text-align: center;
  float: left;
}

#mod_smartslider_93 .quotes.leftimage .col2,
#mod_smartslider_93 .quotes.leftimage_s .col2 {
  float: right;
}

#mod_smartslider_93 .quotes.leftimage .col2 .quote_text,
#mod_smartslider_93 .quotes.rightimage .col1 .quote_text {
  background: url('http://demo.nextendweb.com/smartsliderdemo/modules/mod_smartslider/cache/93/20130724/ef08f660a9d2a15d7dd9fa9a3799bd71.png') no-repeat center center;
  height: 184px;
  display: table;
  min-width: 234px;
}

#mod_smartslider_93 .quotes.leftimage .col2 .quote_text p,
#mod_smartslider_93 .quotes.rightimage .col1 .quote_text p {
   display: table-cell;
  vertical-align: middle;
}

#mod_smartslider_93 .quotes.leftimage .col2 .quote_signature,
#mod_smartslider_93 .quotes.leftimage_s .col2 .quote_signature,
#mod_smartslider_93 .quotes.rightimage .col1 .quote_signature,
#mod_smartslider_93 .quotes.rightimage_s .col1 .quote_signature {
  float: right;
  font-weight: bold;
}

#mod_smartslider_93 .quotes.rightimage .col1,
#mod_smartslider_93 .quotes.rightimage_s .col1 {
  float: left;
}

#mod_smartslider_93 .quotes.rightimage .col2,
#mod_smartslider_93 .quotes.rightimage_s .col2 {
  text-align: center;
  float: right;
}

#mod_smartslider_93 .quotes.leftimage_s .col2 .quotemark_s,
#mod_smartslider_93 .quotes.rightimage_s .col1 .quotemark_s {
  width: 80px;
  height: 64px;
  background: url('') no-repeat;
  float: left;
  margin-right: 5px;
}

#mod_smartslider_93 .quotes.leftimage_s .col2 .quote_text,
#mod_smartslider_93 .quotes.rightimage_s .col2 .quote_text {

}