<?xml version="1.0" encoding="utf-8"?>
<config>
    <fields>
        <fieldset name="language"
                  label="COM_JUX_LANGUAGE_CONFIGURATION_LANGUAGE"
                  addfieldpath="/administrator/components/com_jux_real_estate/models/fields" >
            <field name="original" type="text"
                   label="COM_JUX_LANGUAGE_CONFIGURATION_LANGUAGE_ORIGINAL"
                   description="COM_JUX_LANGUAGE_CONFIGURATION_LANGUAGE_ORIGINAL_DESC"
                   size="1" default="en-GB"/>
		         		
            <field name="extension_name" 
                   type="juxtranslate"
                   label="COM_JUX_LANGUAGE_CONFIGURATION_LANGUAGE_COMPOENT_NAME"
                   description="COM_JUX_LANGUAGE_CONFIGURATION_LANGUAGE_COMPOENT_NAME_DESC" 
                   default="com_jux_real_estate" />    
        </fieldset>      

    </fields>

    <fieldset
        name="permissions"
        label="JCONFIG_PERMISSIONS_LABEL"
        description="JCONFIG_PERMISSIONS_DESC"
    >
        <field
            name="rules"
            type="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            class="inputbox"
            validate="rules"
            filter="rules"
            component="com_jux_real_estate"
            section="component" />
			
    </fieldset>
</config>
